.sobreojogo{
    
    font-size: 30px;
}
.paragrafodojogo{
    font-size: 18px;
}
.link1 {
    
  }

.joga {
      
}
.personagem{
   
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb, #d4fc79, #96e6a1);
}