.tudo{
    background: #0066ff;
    background: linear-gradient(90deg, rgba(0, 102, 255, 1) 1%, rgba(255, 0, 0, 1) 100%);
}


.jogo {
 font-family: "Luckiest Guy", cursive;
 font-weight: 400;
font-style: normal;
}

.eles a {
    display: inline-block;
    padding-left: 40px;  
}

html, body {
    height: 100%;         
    margin: 0;              
    padding: 0;             
    width: 100%;           
    font-family: Arial, sans-serif;  
}

.tudo {
    display: flex;                
    flex-direction: column;        
    align-items: center;            
    justify-content: center;       
    height: 100vh;              
    width: 100%;                   
    text-align: center;             
}



